body, footer {
    background-color: var(--white);
}

label, legend {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    text-align: left;
    color: var(--black);
}

.menu {
    background-color: var(--white);
    color: var(--black);
}

#gerador-layout-section {
    height: 90vh;
    padding: 10px 20px;
    justify-content: space-between;
}

#controles {
    height: 90%;
    padding-right: 2rem;
}

#frase {
    resize: none;
    width: 100%;
    height: 100px;
    padding: 5px;
    font-family: 'Urbanist', sans-serif;
    margin-top: 10px;
    color: var(--black);
    border: 3px dashed var(--black);
    background-color: var(--white);
}

#frase:focus {
    outline: none;
}

input[type="color"] {
    appearance: none;
    background-color: transparent;
    width: 100%;
    height: 50px;
    border: none;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
    border: 3px dashed #000000;
    transition: all 0.2s ease;
}

input[type="color"]::-webkit-color-swatch:hover {
    border-radius: 20px;
}

.fieldset-direcao {
    flex-wrap: wrap;
    justify-content: space-between;
    user-select: none;
    border: none;
    margin-top: 1rem;
}

.radio-btn {
    width: fit-content;
}

.radio-input {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.radio-input:checked+.radio-tile {
    border-color: var(--background);
    background-color: var(--primary);
}

.radio-tile {
    margin: 1rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65px;
    min-height: 65px;
    border: 3px dashed var(--primary);
    background-color: var(--background);
    transition: all 0.2s ease;
    cursor: pointer;
    position: relative;
}

.radio-tile:hover {
    border-color: var(--tertiary);
    border-radius: 20px;
}

.radio-icon img {
    transform: scale(2);
    pointer-events: none;
}

.fieldset-modomovimento {
    justify-content: space-between;
    user-select: none;
    border: none;
    margin-top: 2rem;
}

.fieldset-modomovimento > div {
    margin-top: 0.5rem;
}

.label-alt {
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.mt1 {
    margin-top: 1rem;
}

.btn { 
    margin-top: 2rem;
    background-color: var(--tertiary);
}