@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&family=Urbanist:wght@400;600&display=swap');

:root {
  --black: #1d1d1b;
  --white: #FFFCEE;
  --background: #332783;
  --primary: #FF6689;
  --secondary: #2ec2b3;
  --tertiary: #FCD422;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

p {
  color: inherit;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Urbanist', sans-serif;
  font-weight: 400;
  background-color: var(--primary);
}

h1, h2, h3, h4, h5 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  color: inherit;
}

h1 {
  font-size: 5.652rem;
}

h2 {
  font-size: 3.997rem;
}

h3 {
  font-size: 2.827rem;
}

h4 {
  font-size: 1.999rem;
}

h5 {
  font-size: 1.414rem;
}

small {
  font-size: 0.707rem;
}

canvas {
  display: block;
}


@media (max-width: 1200px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 80%;
  }
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.menu {
  padding: 10px 20px;
  background-color: var(--background);
  color: var(--white);
}

.links-menu>li:first-child {
  margin-right: 1rem;
}

.btn {
  background: var(--secondary);
  color: var(--black);
  display: block;
  /* width: fit-content; */
  text-align: center;
  padding: 10px 30px;
  border: 2px solid var(--black);
  transition: all 0.2s ease;
  font-weight: 600;
}

.btn:hover {
  border-radius: 20px;
}

footer {
  text-align: right;
  padding: 10px;
  background-color: var(--tertiary);
  color: var(--black);
  font-weight: 600;
}